/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background: #e6e6e6;

  @include font-size(0.75);
  line-height: 1;
  padding: 0.6rem 1rem 0.4rem;

  &:hover {
    border-color: #ccc #bbb #aaa;
  }

  &:active,
  &:focus {
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5),
      inset 0 2px 5px rgba(0, 0, 0, 0.15);
  }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  color: #666;
  border-radius: 3px;

  &:focus {
    color: #111;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}
