/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

.page-front-page {
  .site-header {
    border-bottom: none;
  }
  .nav-scrolled {
    background-color: hsla(0, 0%, 100%, 0.85);
    border-bottom: 1px solid #e1e1e1;
    padding: 0.5rem 0;
    position: fixed;
    transition: top 0.5s linear;
    width: 100%;
    z-index: 3;
  }

  .entry-title {
    display: none;
  }

  .site-main {
    .banner {
      display: flex;
    }
    .full-logo {
      margin: auto;
    }
    h2 {
      font-family: $header_font;
      font-size: 2.4rem;
      font-weight: 400;
      letter-spacing: 2px;
      color: #2f1339;
    }

    .shop-stuff-container {
      justify-content: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      .product-type-blocks {
        display: flex;

        .product-type-block-wrapper {
          flex: 0 1 23%;
          margin: 1rem;
          padding: 0;
          border: 1px solid #e1e1e1;
          border-top: 5px solid #e1e1e1;
          border-radius: 2px;
          font-family: $header_font;
          &:hover {
            border: 1px solid #f17726;
            border-top: 5px solid #f17726;
          }
          img {
            width: 5rem;
            padding-top: 10px;
          }
          .product-type-text {
            padding: 0 10px;
          }
          .btn-box {
            margin-left: auto;
            margin-right: auto;
            background-color: $color__text-screen;
            border-radius: 2px;
            width: 150px;
            .btn-text {
              color: #fff;
            }
            &:hover {
              background-color: #1b6863;
              border: none;
            }
          }
        }
      }
    }

    .front-page-journal-container {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .journal-info-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 10px;
      margin-top: 0;
    }

    .front-page-journal-post {
      flex: 0 1 27%;
      margin: 1rem;
      padding: 0;
      border: 1px solid #e1e1e1;
      border-radius: 2px;
      position: relative;
      .wp-post-image {
        width: 100%;
        border-bottom: 5px solid #e1e1e1;
        border-radius: 2px;
      }
      .journal-button-box {
        border: 1px solid black;
        border-radius: 2px;
        width: 150px;
        margin-bottom: 10px;
        &:hover {
          background-color: $color__text-screen;
          border: none;
          .journal-button {
            color: #fff;
          }
        }
        .journal-button {
          color: black;
          font-size: 1rem;
          margin: 2px;
          font-weight: lighter;
        }
      }
    }

    .front-page-journal-info {
      text-align: left;
      font-size: 0.8rem;
      p {
        margin: 5px;
      }
      h3 {
        margin: 5px;
      }
      a {
        color: $color__text-screen;
        text-transform: uppercase;
        &:hover {
          color: darkblue;
        }
      }
      .journal-title {
        font-size: 1.3rem;
      }
    }

    .banner {
      height: 100vh;
      width: 100%;
    }
  }

  .adventures {
    max-width: 100%;

    ul {
      display: grid;
      grid-template-columns: repeat (4, 1fr);
      grid-auto-rows: 2fr;
      grid-gap: 20px 20px;
      list-style-type: none;
      margin-left: auto;
      margin-right: auto;
      padding: 50px;
      max-width: 100%;
      height: 620px;

      li {
        overflow: hidden;

        .adventure-container {
          height: 100%;
          position: relative;

          img {
            object-fit: cover;
            object-position: center;
            position: relative;
            width: 100%;
            height: 100%;
            z-index: -99;
          }
          &:after {
            content: '';
            background-image: linear-gradient(
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.5)
            );
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
          }
        }

        &:first-child {
          grid-column: 1 / 3;
          grid-row: 1 / 3;
          h3 {
            font-size: 2.2rem;
          }
        }
        &:nth-child(2) {
          grid-column: 3 / 5;
          grid-row: 1 / 2;
          h3 {
            font-size: 2rem;
          }
        }
        &:nth-child(3) {
          grid-column: 3 / 4;
          grid-row: 2 / 3;
          h3 {
            font-size: 1.4rem;
          }
        }
        &:last-child {
          grid-column: 4 / 5;
          grid-row: 2 / 3;
          h3 {
            font-size: 1.4rem;
          }
        }
      }
    }
    .read-more-btn {
      font-size: 1rem;
      color: whitesmoke;
      border: 1px solid #fff;
      border-radius: 1px;
      text-shadow: 1px 1px 2px gray;
      margin: $base__space-unit/2;
      padding: 10px;
      text-align: left;
      text-transform: uppercase;
      &:hover {
        background-color: $color__text-screen;
        border: none;
      }
    }
    .adventure-info {
      margin: $base__space-unit/2;
      line-height: auto;
      height: auto;
      width: auto;
      position: absolute;
      top: 0;
      z-index: 2;
      text-align: left;

      .entry-title {
        margin: $base__space-unit/2;
        a {
          color: #fff;
          &:hover {
            color: rgb(247, 237, 218);
          }
        }

        display: block;
        text-decoration: none;
        font-weight: normal;
        text-transform: none;
      }
    }

    .more-adventure {
      .more-btn {
        background-color: $color__text-screen;
        padding: 10px;
        border-radius: 4px;
        font-size: 1.4rem;
        color: whitesmoke;
        border: 2px solid #fff;
        float: left;
        margin-left: 50px;
        margin-bottom: 50px;
        text-transform: uppercase;
        &:hover {
          background-color: rgb(5, 112, 112);
        }
      }
    }
  }
}
