/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  background-color: transparent;
  text-transform: uppercase;
  font-family: $header_font;
  border-bottom: 1px solid #e1e1e1;
  font-family: 'Novecento Sans Web', sans-serif;
  z-index: 3;

  .nav-scrolled {
    background-color: hsla(0, 0%, 100%, 0.85);
    position: fixed;
    transition: top 0.5s linear;
    height: 60px;
    z-index: 3;
  }

  .search-form-container {
    order: 3;
    margin: 0.8rem;
    background-color: transparent;
    margin-left: 2rem;

    .search-form {
      display: flex;
      flex-wrap: nowrap;
      transition: all 0.6s ease;

      .search-field {
        transition: all 0.6s ease;

        .input {
          display: none;
          background-color: hsla(0, 0%, 80%, 0.65);
          border: none;
          border-radius: 10px;
          transition: all 0.6s ease;

          &.active {
            display: block;
            transition: all 0.5s 0.8s ease;
            color: #323232;
            font-size: 1.2rem;
          }
        }
      }
    }

    .icon-search {
      border: none;
      color: #fff;
      font-size: 1.2rem;
      text-shadow: 1px 1px 2px #323232;
    }

    .icon-search-green {
      color: $color__text-screen;
    }
  }
}

.header-logo {
  background: url('../../images/logos/inhabitent-logo-tent-white.svg') no-repeat;
  background-size: 50px 33px;
  height: 33px;
  justify-content: flex-start;
  overflow: hidden;
  text-indent: 100%;
  margin-top: 10px;
  margin-left: 80px;
  order: 1;
}
.header-logo-green {
  background: url('../../images/logos/inhabitent-logo-tent.svg') no-repeat;
  background-size: 50px 33px;
  height: 33px;
  justify-content: flex-start;
  overflow: hidden;
  text-indent: 100%;
  margin-top: 10px;
  margin-left: 80px;
  order: 1;
}

.menu-toggle {
  display: none;
}

.nav-menu {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-left: 5rem;
}

.menu-main-menu-container {
  a {
    color: #fff;
    margin: 0 20px;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      color: $color__link-hover;
    }
  }
}
.nav-bar-green {
  li {
    a {
      color: $color__text-screen;
    }
  }
}
