/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  background-color: transparent;
  text-transform: uppercase;
  font-family: $header_font;
  border-bottom: 1px solid #e1e1e1;
  font-family: 'Novecento Sans Web';
  z-index: 3;

  .nav-scrolled {
    background-color: hsla(0,0%,100%,.85);
    border-bottom: 1px solid #e1e1e1;
    position: fixed;
    transition: top .5s linear;
    width: 100%;
    height: 60px;
    z-index: 3;
  }
  
  .search-field {
    .input {
      display: none;

      &.active {
        display: block;
        transition: all 0.5s 0.8s ease;

      }
    }
  }

  .search-form-container {
    order: 3;
    margin: 0.7rem;
    background-color: transparent;

    .icon-search {
      border: none;
      color: #fff;
      // color: $color__text-screen;
      font-size: 1.2rem;
      text-shadow: 1px 1px 2px #323232;
    }

    .icon-search-green {
      border: none;
      color: #fff;
      // color: $color__text-screen;
      font-size: 1.2rem;
      text-shadow: 1px 1px 2px #323232;
    }

  }
}

.header-logo {
  background: url("../../images/logos/inhabitent-logo-tent-white.svg") no-repeat;
  background-size: 50px 33px;
  height: 33px;
  justify-content: flex-start;
  overflow: hidden;
  text-indent: 100%;
  margin-top: 10px;
  margin-left: 80px;
  order: 1;
}
.header-logo-green {
  background: url("../../images/logos/inhabitent-logo-tent.svg") no-repeat;
  background-size: 50px 33px;
  height: 33px;
  justify-content: flex-start;
  overflow: hidden;
  text-indent: 100%;
  margin-top: 10px;
  margin-left: 80px;
  order: 1;
}

.menu-toggle {
  display: none;
}

.nav-menu {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-left: 8rem;
}

.menu-main-menu-container {
  a {
    color: #fff;
    margin: 0 20px;
    text-decoration: none;
    	&:hover,
    	&:focus,
    	&:active {
    		color: $color__link-hover;
  }
}
}
.nav-bar-green {
  li {
    a {
      color: $color__text-screen;
    }
  }
}