/*--------------------------------------------------------------
# Journal
--------------------------------------------------------------*/

.blog {
  .site-header {
    background-color: hsla(0, 0%, 100%, 0.85);
    position: fixed;
    a {
      color: $color__text-screen;
    }
    .header-logo {
      background: url(../../images/logos/inhabitent-logo-tent.svg) no-repeat;
      background-size: 50px 33px;
    }
    .icon-search {
      color: $color__text-screen;
    }
  }

  .site-content {
    width: 100%;
    display: flex;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
  }

  .content-area {
    width: 72%;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;

    article {
      padding-top: 1rem;
      padding-bottom: 1rem;
      position: relative;

      .journal-post {
        line-height: 0;
      }

      .journal-title-text {
        color: #fff;
        background-color: $color__text-screen;
        position: absolute;
        top: 20px;
        left: 0;
        line-height: 2;
        padding: 10px 20px;
        font-size: 1.6rem;
        border-radius: 2px;
      }

      .journal-text {
        p {
          font-size: 1.4rem;
          line-height: 1.5rem;
          width: 100%;
        }
      }
      .journal-info {
        color: #fff;
        background-color: $color__text-screen;
        margin: 0;
        position: absolute;
        bottom: 1rem;
        right: 0;
        padding: 0 10px;
        font-size: 0.9rem;
        border-radius: 5px;

        p {
          font-size: .9rem;
          width: 100%;
        }
      }
    }

    .read-more-btn {
      padding: 10px;
      color: #fff;
      background-color: $color__text-screen;
      border-radius: 5px;
      &:hover {
        background-color: rgb(13, 105, 101);
      }
    }

    img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }
  }
  .widget-area {
    width: 28%;
    border-left: 1px solid #e1e1e1;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
  }
}
