/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

body {
	background-color: #fff;
	min-height: 100%;
	min-width: 100%;
	text-align: center;
	line-height: 1.75;
}




