/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

body {
  background-color: #fff;
  min-height: 100%;
  min-width: 100%;
  text-align: center;
  line-height: 1.75;
}

/*--------------------------------------------------------------
# 404 Page
--------------------------------------------------------------*/

.error404 {
  .site-header {
    background-color: hsla(0, 0%, 100%, 0.85);
    position: fixed;
    a {
      color: $color__text-screen;
    }
    .header-logo {
      background: url(../../images/logos/inhabitent-logo-tent.svg) no-repeat;
      background-size: 50px 33px;
    }
    .icon-search {
      color: $color__text-screen;
    }
  }

  .site-content {
    width: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    text-align: left;
  }

  .content-area {
    width: 72%;
    padding: 2rem 0;
    padding-left: 5rem;
    a {
      text-decoration: none;
      color: $color__text-screen;
    }
    h2 {
      color: #2f1339;
      font-family: $header_font;
      font-size: 2rem;
    }
    p {
      width: 90%;
      font-size: 1.2rem;
      color: #404040;
    }
  }

  .widget-area {
    width: 28%;
    border-left: 1px solid #e1e1e1;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    h2 {
      color: #2f1339;
    }
    p {
      color: #404040;
    }
  }
}

/*--------------------------------------------------------------
# Post Category Page
--------------------------------------------------------------*/

.category {
  .site-header {
    background-color: hsla(0, 0%, 100%, 0.85);
    position: fixed;
    a {
      color: $color__text-screen;
    }
    .header-logo {
      background: url(../../images/logos/inhabitent-logo-tent.svg) no-repeat;
      background-size: 50px 33px;
    }
    .icon-search {
      color: $color__text-screen;
    }
  }
  .site-content {
    width: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    text-align: left;
  }

  .content-area {
    width: 72%;
    padding: 2rem 0;
    padding-left: 5rem;
    a {
      text-decoration: none;
      color: $color__text-screen;
    }
    h2 {
      color: #2f1339;
      font-family: $header_font;
      font-size: 2rem;
    }
    p {
      width: 90%;
      font-size: 1.2rem;
      color: #404040;
    }
  }

  .widget-area {
    width: 28%;
    border-left: 1px solid #e1e1e1;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    h2 {
      color: #2f1339;
    }
    p {
      color: #404040;
    }
  }
}

/*--------------------------------------------------------------
# Tags
--------------------------------------------------------------*/

.tag {
  .site-header {
    background-color: hsla(0, 0%, 100%, 0.85);
    position: fixed;
    a {
      color: $color__text-screen;
    }
    .header-logo {
      background: url(../../images/logos/inhabitent-logo-tent.svg) no-repeat;
      background-size: 50px 33px;
    }
    .icon-search {
      color: $color__text-screen;
    }
  }
  .site-content {
    width: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    text-align: left;
  }

  .content-area {
    width: 72%;
    padding: 2rem 0;
    padding-left: 5rem;
    a {
      text-decoration: none;
      color: $color__text-screen;
    }
    h2 {
      color: #2f1339;
      font-family: $header_font;
      font-size: 2rem;
    }
    p {
      width: 90%;
      font-size: 1.2rem;
      color: #404040;
    }
  }

  .widget-area {
    width: 28%;
    border-left: 1px solid #e1e1e1;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    h2 {
      color: #2f1339;
    }
    p {
      color: #404040;
    }
  }
}