// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #248a83;
$color__link-hover: rgb(248, 237, 206);

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

// Typography

$font_main: 'Merriweather Web', serif;
$header_font: 'Novecento Sans Web', sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
